/*font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tangerine:wght@400;700&display=swap');



:root
{
    --first-color:rgb(3, 78, 164);
    --font-family:"roboto",sanserif;
    --second-color:rgb(69, 63, 63);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 a{
     text-decoration: none;
      font-weight: bolder;
     font-size: 20px;
     
 }

body
{
   background-color: rgba(16, 63, 134, 0.144);
   /* background: #333; */

}


.navigation{
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 1rem;
  top: 0;
   width: 100%;
   background-color: rgb(255, 255, 255);
   box-shadow: rgba(36, 34, 34, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  border-radius: 0.5rem;
   color: black;
   z-index: 10;
}

.tomtech {
  color: black;
  font-size: 60px;
  font-weight: 1000;
  font-family: "roboto";
  /* text-shadow: 2px 3px 1px rgb(255, 255, 255); */
}
.tomtech span {
  font-family: "Tangerine";
   color: rgb(220, 137, 12);
   font-size: 100px;
     text-shadow: 20px 30px 3px rgb(179, 178, 178);

}
.select {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;

}
 
  
/* ===== WORK =====*/
.work__container {
      display: grid;
     justify-content:flex-start;
      padding: 15rem 2rem;
    gap: 2rem;
     /* box-shadow: rgba(32, 32, 33, 0.25) 0px 30px 60px -12px inset,
      rgba(5, 7, 14, 0.945) 0px 18px 36px -18px inset; */
  }
  .work__img {
    box-shadow: rgba(36, 34, 34, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  border-radius: 0.5rem;
    overflow: hidden;
    display: block;
    width: 50%;
   }
   .work-btn 
   {
     display: flex;
      gap: 1rem;
      margin: 10px;
      justify-content: center;
    
    }

   .work-btn  a
   {
    box-shadow: rgba(36, 34, 34, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  border-radius: 0.5rem;

    background-color: var(--first-color);
     border-radius: 6px;
     border:1px solid white;
     padding: 0.4rem 3rem;
     transition: all ease-in-out .4s;
  }
  .work-btn  a:hover
   {
      border-radius: 6px;
      padding: .4rem 2rem;
   }
  .work__img img {
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    width: 100%;
    height: 300px;
    border-radius: 10px;
    transition: 1s;
  }
  .work__img img:hover {
    transform: scale(1.08);
  }

  .project-title
  {
     margin-top: 80px;
     font-size: 40px;
     font-weight: bolder;
     font-family: "poppins";
     color: #070F2B;

  }




  
 
.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}